* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
  font-size: 100%;
} /*16px*/

body {
    font-weight: 400;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.header-center {
    width: 95vw;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 5px;
}

.search-bar {
    float: right;
    padding-top: 35px;
}

.search-bar input {
    height: 30px;
    width: 200px;
}
  
.search-bar button {
    float: right;
    height: 30px;
    width: 35px;
}

.header-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-header img {
    width: 125px;
}

.header-logo {
    display: flex;
    align-items: flex-end;
}

.header-logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 10px;
    color: #334155;
}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-left: 50px;
    list-style-type: none;
    padding: 0.01rem;
    overflow: hidden;
    background-color: white;
}
  
li {
    float: left;
    padding-left: 100px;
    padding-right: 100px;
    border-right: 1px solid #bbb;
    font-family: 'Roboto', sans-serif;
}
  
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    color: rgb(1, 222, 1);
}
  
li.dropdown {
    display: block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

li:last-child {
    border-right: none;
}

.message-section-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.message {
    text-align: center;
    margin-top: 10%;
}